tenancy_ocid = "ocid1.tenancy.oc1XXX"
user_ocid    = "ocid1.user.oc1..XXX"
region       = "XXX"
fingerprint  = "XXX"
private_key  = <<EOF
-----BEGIN PRIVATE KEY-----
XXX
-----END PRIVATE KEY-----
EOF

# Required for state bucket backend
# export OCI_tenancy_ocid=ocid1.tenancy.oc1XXX
# export OCI_user_ocid=ocid1.user.oc1XXX
# export OCI_fingerprint=XXX
# export OCI_region=XXX
# export OCI_private_key=$(cat XXX/oci_api_key.pem)

# Required to injects creds as vars on CI/CD
# export TF_VAR_tenancy_ocid=ocid1.tenancy.oc1..XXX
# export TF_VAR_user_ocid=ocid1.user.oc1..XXX
# export TF_VAR_fingerprint=XXX
# export TF_VAR_region=XXX
# export TF_VAR_private_key=$(cat XXX/oci_api_key.pem)

# Required for oci cli
# export OCI_CLI_USER=ocid1.user.oc1XXX
# export OCI_CLI_REGION=XXX
# export OCI_CLI_FINGERPRINT=XXX
# export OCI_CLI_KEY_CONTENT=$(cat XXX/oci_api_key.pem)
# export OCI_CLI_TENANCY=ocid1.tenancy.oc1XXX